node_modules/
src/tools/editor/ai-tools/config.js
public/res/meshes/glb/**.blend
public/res/meshes/glb/**.blend1
public/res/meshes/glb/maria_arhive/*.blend
public/res/meshes/glb/maria_arhive/*.blend1
public/res/meshes/env/arc-kula12.blend
*.blend1
public/res/meshes/glb/warrok.blend11
public/res/meshes/glb/DEVELOP-COPY.blend11
public/res/meshes/glb/DEVELOP-COPY.blend11
public/res/meshes/nav-mesh/withtree_.blend
src/tools/editor/ai-tools/config.js
src/tools/editor/ai-generators/ollama/config.js
src/tools/editor/ai-generators/bridge2/config.js
src/tools/editor/ai-generators/config.js
