node_modules/
src/tools/editor/ai-tools/config.js
public/res/meshes/glb/**.blend
public/res/meshes/glb/**.blend1
public/res/meshes/glb/maria_arhive/*.blend
public/res/meshes/glb/maria_arhive/*.blend1
public/res/meshes/env/arc-kula12.blend
*.blend1
**/*.dds
public/res/meshes/glb/warrok.blend11
public/res/meshes/glb/DEVELOP-COPY.blend11
public/res/meshes/glb/DEVELOP-COPY.blend11
public/res/meshes/nav-mesh/withtree_.blend
src/tools/editor/ai-tools/config.js
src/tools/editor/ai-generators/ollama/config.js
src/tools/editor/ai-generators/bridge2/config.js
src/tools/editor/ai-generators/config.js
src/tools/editor/backend/config.js
src/tools/the-beast-code-gen/src/config.js
public/res/textures/bitcoin.dds
public/res/meshes/blender/roulette-from-blendkit.blend
public/res/meshes/blender/assets/models/scan-floor-step_99c85f6e-b2d8-4d5a-89a1-0f2a4acf87f4/scan-floor-step_2K_2a9c27bc-0053-43d9-b067-a4bf9518646e.blend
public/res/meshes/blender/assets/models/roulette-casino-_cebcd736-b700-4dfd-ad80-9c36c391b9db/roulette-casino-table_2K_d7a72b93-f704-4d62-92bb-3788102f6b51.blend
