*.blender
*.blend1
**/*.blender
**/*.blend1
**/*.glb
public/res/meshes/glb/*.glb
public/res/meshes/nav-mesh/*.blend
public/res/meshes/nav-mesh/*.blend1
public/res/meshes/nav-mesh/*.glb
public/res/meshes/jamb/*.blend
public/res/meshes/jamb/*.blend1
public/res/meshes/jamb/*.glb
public/res/meshes/maps-objs/*.blend
public/res/meshes/maps-objs/*.blend1
public/res/meshes/maps-objs/*.glb
public/res/meshes/glb/*.blend
public/res/meshes/blender/*.blend
public/res/meshes/blender/*.blend1
public/res/meshes/glb/*.blend11
public/res/meshes/glb/maria_arhive/*.blend
public/res/meshes/env/*.blend
test-npm/**/*
test-npm/
src/tools/the-beast-code-gen/**/*
non-project-files/**/*

public/mediapipe/wasm/**/*
public/moba-game.html
public/moba-game.js
public/moba-menu.html
public/moba-menu.js
public/PhysicsPlayground.html
public/PhysicsPlayground.js
public/PhysicsPlayground.js.map
public/project-c_methods.js
public/project-c.html
public/project-c.js
public/project-c.js.map
public/res/audios/audionautix-black-fly.mp3
public/res/audios/hyperball_pursuit.mp3
public/res/audios/rpg/**/*
public/res/icons/editor/chatgpt-gen-bg.png
public/res/meshes/glb/textures/mutant-normal.png
public/res/meshes/obj/modelpack19/**/*
public/res/meshes/objs-sequence/**/*
public/res/meshes/ply/**/*
public/res/videos/my-videos/roulette.mp4
